Package: vm-manager
Version: 0.5.0
Architecture: amd64
Maintainer: Qi, Yadong <yadong.qi@intel.com>
Installed-Size: 110
Depends: libncurses-dev, uuid-dev, libglib2.0-dev, libjson-c-dev, libc6 (>= 2.14), libglib2.0-0 (>= 2.39.4), libjson-c4 (>= 0.13.1), libncurses6 (>= 6), libtinfo6 (>= 6), libuuid1 (>= 2.16)
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: http://github.com/projectceladon/vm_manager
Description: CiV VM Manager
  CiV VM Manager to manage the CiV guests
